# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# Distribution / packaging
.Python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.whl
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec


# PyCharm
.idea/

# VS Code
.vscode/


# Python environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/